body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.headerbox {
  background: rgb(21, 195, 21);
  color: azure;
  /* height: 400px; */
  /* padding: 20px 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.header-inner {
  width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.onepart {
  display: flex;
  justify-content: space-between;
}

.twopart {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.headerlinks {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
}

a {
  color: azure;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

#headerimage {
  width: 500px;
  height: 300px;
  border-radius: 25px;
  margin-top: 12px;
}

#logoimage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
img {
  width: 150px;
  height: 150px;
  border: solid rgb(21, 195, 21);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}

button {
  border-radius: 25px;
  border: solid white;
  background: #efaa28;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: azure;
  font-weight: 600;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.left-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin: 0;
  font-size: 48px;
}

.text {
  font-size: 18px;
}

/*2 part main*/
.title {
  font-size: 36px;
  font-weight: 700;
  margin: 42px;
  text-align: center;
  color: rgb(21, 195, 21);
}

.products {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* gap: 36px; */
  margin-bottom: 70px;
  /* padding: 30px; */
  /* width: 1024px; */
}

.products-block {
  display: flex;
  width: 800px;
  gap: 36px;
  padding: 30px;
}

.book {
  /* max-width: 256px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  color: rgb(21, 195, 21);
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
}

/*3 part*/

.textblock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(132, 205, 132);
  color: azure;
  /* height: 350px; */
  padding: 80px 0px;
}

.par-big {
  max-width: 800px;
  font-size: 36px;
  text-align: justify;
  font-style: italic;
}

/*4 part*/

.buttonblock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-top: 30px;
}

.orangeblock {
  background: orange;
  height: 150px;
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.orange-info {
  display: flex;
  justify-content: space-between;
  width: 800px;
  align-items: center;
}

.buttontext {
  /* margin: 50px 50px 50px 60px; */
  font-size: 25px;
  color: azure;
  font-weight: 500;
  /* padding: 5px 50px; */
}

.orange {
  border-radius: 25px;
  border: solid white;
  background: #efaa28;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: azure;
  font-weight: 600;
  /* margin: 50px 100px; */
}

.footer {
  display: flex;
  justify-content: center;
  background: rgb(21, 195, 21);
  height: 70px;
  color: azure;
  font-size: 20px;
  align-items: center;
}
